# Default values for api-service
# This is a YAML-formatted file.

global:
  imageRegistry: "us-central1-docker.pkg.dev/google-samples/microservices-demo"
  imageTag: "v0.10.4"
  securityContext:
    fsGroup: 1000
    runAsGroup: 1000
    runAsNonRoot: true
    runAsUser: 1000
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    privileged: false
    readOnlyRootFilesystem: true

# Service configurations
services:
  currencyservice:
    enabled: true
    image:
      repository: "currencyservice"
      tag: ""
    replicas: 1
    serviceAccount:
      create: true
      name: ""
    terminationGracePeriodSeconds: 5
    containerPort: 7000
    portName: grpc
    env:
      PORT: "7000"
      DISABLE_PROFILER: "1"
    resources:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 128Mi
    probes:
      readiness:
        grpc:
          port: 7000
      liveness:
        grpc:
          port: 7000
    service:
      type: ClusterIP
      port: 7000
      targetPort: 7000
    hpa:
      enabled: false
      minReplicas: 1
      maxReplicas: 10
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80

  productcatalogservice:
    enabled: true
    image:
      repository: "productcatalogservice"
      tag: ""
    replicas: 1
    serviceAccount:
      create: true
      name: ""
    terminationGracePeriodSeconds: 5
    containerPort: 3550
    portName: grpc
    env:
      PORT: "3550"
      DISABLE_PROFILER: "1"
    resources:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 128Mi
    probes:
      readiness:
        grpc:
          port: 3550
      liveness:
        grpc:
          port: 3550
    service:
      type: ClusterIP
      port: 3550
      targetPort: 3550
    hpa:
      enabled: false
      minReplicas: 1
      maxReplicas: 10
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80

  checkoutservice:
    enabled: true
    image:
      repository: "checkoutservice"
      tag: ""
    replicas: 1
    serviceAccount:
      create: true
      name: ""
    terminationGracePeriodSeconds: 5
    containerPort: 5050
    portName: grpc
    env:
      PORT: "5050"
      PRODUCT_CATALOG_SERVICE_ADDR: "productcatalogservice:3550"
      SHIPPING_SERVICE_ADDR: "shippingservice:50051"
      PAYMENT_SERVICE_ADDR: "paymentservice:50051"
      EMAIL_SERVICE_ADDR: "emailservice:5000"
      CURRENCY_SERVICE_ADDR: "currencyservice:7000"
      CART_SERVICE_ADDR: "cartservice:7070"
    resources:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 128Mi
    probes:
      readiness:
        grpc:
          port: 5050
      liveness:
        grpc:
          port: 5050
    service:
      type: ClusterIP
      port: 5050
      targetPort: 5050
    hpa:
      enabled: false
      minReplicas: 1
      maxReplicas: 10
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80

  shippingservice:
    enabled: true
    image:
      repository: "shippingservice"
      tag: ""
    replicas: 1
    serviceAccount:
      create: true
      name: ""
    terminationGracePeriodSeconds: 5
    containerPort: 50051
    portName: grpc
    env:
      PORT: "50051"
      DISABLE_PROFILER: "1"
    resources:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 128Mi
    probes:
      readiness:
        periodSeconds: 5
        grpc:
          port: 50051
      liveness:
        grpc:
          port: 50051
    service:
      type: ClusterIP
      port: 50051
      targetPort: 50051
    hpa:
      enabled: false
      minReplicas: 1
      maxReplicas: 10
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80

  cartservice:
    enabled: true
    image:
      repository: "cartservice"
      tag: ""
    replicas: 1
    serviceAccount:
      create: true
      name: ""
    terminationGracePeriodSeconds: 5
    containerPort: 7070
    portName: grpc
    env:
      REDIS_ADDR: "redis-cart:6379"
    resources:
      requests:
        cpu: 200m
        memory: 64Mi
      limits:
        cpu: 300m
        memory: 128Mi
    probes:
      readiness:
        initialDelaySeconds: 15
        grpc:
          port: 7070
      liveness:
        initialDelaySeconds: 15
        periodSeconds: 10
        grpc:
          port: 7070
    service:
      type: ClusterIP
      port: 7070
      targetPort: 7070
    hpa:
      enabled: false
      minReplicas: 1
      maxReplicas: 10
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80

  redis-cart:
    enabled: true
    image:
      repository: "docker.io/library/redis"
      tag: "alpine"
    replicas: 1
    containerName: redis
    serviceAccount:
      create: false
      name: ""
    containerPort: 6379
    portName: tcp-redis
    env: {}
    resources:
      requests:
        cpu: 70m
        memory: 200Mi
      limits:
        cpu: 125m
        memory: 256Mi
    probes:
      readiness:
        periodSeconds: 5
        tcpSocket:
          port: 6379
      liveness:
        periodSeconds: 5
        tcpSocket:
          port: 6379
    service:
      type: ClusterIP
      port: 6379
      targetPort: 6379
    volumeMounts:
      - mountPath: /data
        name: redis-data
    volumes:
      - name: redis-data
        emptyDir: {}
    hpa:
      enabled: false

  emailservice:
    enabled: true
    image:
      repository: "emailservice"
      tag: ""
    replicas: 1
    serviceAccount:
      create: true
      name: ""
    terminationGracePeriodSeconds: 5
    containerPort: 8080
    portName: grpc
    env:
      PORT: "8080"
      DISABLE_PROFILER: "1"
    resources:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 128Mi
    probes:
      readiness:
        periodSeconds: 5
        grpc:
          port: 8080
      liveness:
        periodSeconds: 5
        grpc:
          port: 8080
    service:
      type: ClusterIP
      port: 5000
      targetPort: 8080
    hpa:
      enabled: false
      minReplicas: 1
      maxReplicas: 10
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80

  paymentservice:
    enabled: true
    image:
      repository: "paymentservice"
      tag: ""
    replicas: 1
    serviceAccount:
      create: true
      name: ""
    terminationGracePeriodSeconds: 5
    containerPort: 50051
    portName: grpc
    env:
      PORT: "50051"
      DISABLE_PROFILER: "1"
    resources:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 128Mi
    probes:
      readiness:
        grpc:
          port: 50051
      liveness:
        grpc:
          port: 50051
    service:
      type: ClusterIP
      port: 50051
      targetPort: 50051
    hpa:
      enabled: false
      minReplicas: 1
      maxReplicas: 10
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80

  frontend:
    enabled: true
    image:
      repository: "frontend"
      tag: ""
    replicas: 1
    serviceAccount:
      create: true
      name: ""
    terminationGracePeriodSeconds: 5
    containerPort: 8080
    portName: http
    annotations:
      sidecar.istio.io/rewriteAppHTTPProbers: "true"
    env:
      PORT: "8080"
      PRODUCT_CATALOG_SERVICE_ADDR: "productcatalogservice:3550"
      CURRENCY_SERVICE_ADDR: "currencyservice:7000"
      CART_SERVICE_ADDR: "cartservice:7070"
      RECOMMENDATION_SERVICE_ADDR: "recommendationservice:8080"
      SHIPPING_SERVICE_ADDR: "shippingservice:50051"
      CHECKOUT_SERVICE_ADDR: "checkoutservice:5050"
      AD_SERVICE_ADDR: "adservice:9555"
      SHOPPING_ASSISTANT_SERVICE_ADDR: "shoppingassistantservice:80"
      ENABLE_PROFILER: "0"
    resources:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 128Mi
    probes:
      readiness:
        initialDelaySeconds: 10
        httpGet:
          path: "/_healthz"
          port: 8080
          httpHeaders:
            - name: "Cookie"
              value: "shop_session-id=x-readiness-probe"
      liveness:
        initialDelaySeconds: 10
        httpGet:
          path: "/_healthz"
          port: 8080
          httpHeaders:
            - name: "Cookie"
              value: "shop_session-id=x-liveness-probe"
    service:
      type: ClusterIP
      port: 80
      targetPort: 8080
    serviceExternal:
      enabled: true
      type: NodePort
      port: 80
      targetPort: 8080
      nodePort: 30080
    hpa:
      enabled: false
      minReplicas: 1
      maxReplicas: 10
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80

  recommendationservice:
    enabled: true
    image:
      repository: "recommendationservice"
      tag: ""
    replicas: 1
    serviceAccount:
      create: true
      name: ""
    terminationGracePeriodSeconds: 5
    containerPort: 8080
    portName: grpc
    env:
      PORT: "8080"
      PRODUCT_CATALOG_SERVICE_ADDR: "productcatalogservice:3550"
      DISABLE_PROFILER: "1"
    resources:
      requests:
        cpu: 100m
        memory: 220Mi
      limits:
        cpu: 200m
        memory: 450Mi
    probes:
      readiness:
        periodSeconds: 5
        grpc:
          port: 8080
      liveness:
        periodSeconds: 5
        grpc:
          port: 8080
    service:
      type: ClusterIP
      port: 8080
      targetPort: 8080
    hpa:
      enabled: false
      minReplicas: 1
      maxReplicas: 10
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80

  adservice:
    enabled: true
    image:
      repository: "adservice"
      tag: ""
    replicas: 1
    serviceAccount:
      create: true
      name: ""
    terminationGracePeriodSeconds: 5
    containerPort: 9555
    portName: grpc
    env:
      PORT: "9555"
    resources:
      requests:
        cpu: 200m
        memory: 180Mi
      limits:
        cpu: 300m
        memory: 300Mi
    probes:
      readiness:
        initialDelaySeconds: 20
        periodSeconds: 15
        grpc:
          port: 9555
      liveness:
        initialDelaySeconds: 20
        periodSeconds: 15
        grpc:
          port: 9555
    service:
      type: ClusterIP
      port: 9555
      targetPort: 9555
    hpa:
      enabled: false
      minReplicas: 1
      maxReplicas: 10
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80

  loadgenerator:
    enabled: true
    image:
      repository: "loadgenerator"
      tag: ""
    replicas: 1
    containerName: main
    serviceAccount:
      create: true
      name: ""
    terminationGracePeriodSeconds: 5
    restartPolicy: Always
    annotations:
      sidecar.istio.io/rewriteAppHTTPProbers: "true"
    initContainers:
      - name: frontend-check
        image: docker.io/library/busybox:latest
        command:
          - /bin/sh
          - -exc
          - |
            MAX_RETRIES=12
            RETRY_INTERVAL=10
            for i in $(seq 1 $MAX_RETRIES); do
              echo "Attempt $i: Pinging frontend: ${FRONTEND_ADDR}..."
              STATUSCODE=$(wget --server-response http://${FRONTEND_ADDR} 2>&1 | awk '/^  HTTP/{print $2}')
              if [ $STATUSCODE -eq 200 ]; then
                  echo "Frontend is reachable."
                  exit 0
              fi
              echo "Error: Could not reach frontend - Status code: ${STATUSCODE}"
              sleep $RETRY_INTERVAL
            done
            echo "Failed to reach frontend after $MAX_RETRIES attempts."
            exit 1
        env:
          FRONTEND_ADDR: "frontend:80"
    env:
      FRONTEND_ADDR: "frontend:80"
      USERS: "10"
      RATE: "1"
    resources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi
    service:
      enabled: false
    hpa:
      enabled: false

# ConfigMap configuration
configMap:
  enabled: true
  data: {}

# Secret configuration
secret:
  enabled: true
  type: Opaque
  data: {}
  stringData: {}

# Network Policy configuration
networkPolicy:
  enabled: true
  policyTypes:
    - Ingress
    - Egress
  ingress: []
  egress:
    - to:
        - namespaceSelector: {}
      ports:
        - protocol: TCP
          port: 53
        - protocol: UDP
          port: 53

# Ingress configuration
ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

